<!-- views/pantries/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Pantry</title>
  </head>
  <body class="index-body">
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-apps-body">
      <div class="all-apps-header">
    <h1>Your Pantry</h1>
    <a class="add-app-link" href="/users/<%=user._id%>/pantries/new">Add a Recipe</a>
    <ul>
      <% pantries.forEach((pantry)=>{ %>
      <a href="/users/<%= user._id %>/pantries/<%= pantry._id %>">
        <li><%= pantry.title %> at <%= pantry.name %></li>
      </a>
      <% }) %>
    </ul>
    <div class="index-container">
      <div class="text-container">
        <h1 class="main-header">Cookbook</h1>
        <p class="subheader">A pantry tracker.</p>
      </div>
    </div>
  </body>
  </html>
